/* 
media query for height change every -200 change, +10vh 
media query for centralizing the card
*/
:root {
	--Dark-cyan: hsl(185, 75%, 39%);
	--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--Dark-grayish-blue: hsl(227, 10%, 46%);

	--Dark-gray: hsl(0, 0%, 59%);
}
@font-face {
	font-family: Kumbh-Sans-Regular;

	src: url(./Fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf);
}
@font-face {
	font-family: Kumbh-Sans-Bold;

	src: url(./Fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	font-size: 112.5%;
}
body {
	box-sizing: inherit;
	font-family: Kumbh-Sans-Regular, sans-serif;

	background-color: var(--Dark-cyan);
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;

	width: 100vw;
	height: 100vh;
}
.bg {
	position: fixed;
	z-index: -1;
	width: 100vw;
	/* height: 100vh; */
	/* background-color: red; */
}
.bg-top {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	transform: translate(-45%);
}
.bg-bottom {
	bottom: 0;
	right: 0;
	width: 100%;
	position: relative;

	transform: translate(45%);
}

.card__container {
	margin: 2rem;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;

	border-radius: 10px;
	overflow: hidden;
	height: 45vh;
	min-height: 23rem;

	max-height: 23rem;
	padding-bottom: 1.25rem;
	background-color: #fff;
	/* border: 2px solid var(--Very-dark-desaturated-blue); */
	box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.1);
}
/* .card__pattern {
	width: 100%;
}
.card__pattern > img {
	width: 100%;
	height: 85%;
} */
.card__image {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.card__image > img {
	border-radius: 50%;
	border: 4px solid #ffffff;
	outline: none;
}
.card__details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	color: var(--Dark-gray);
}

.card__details::after {
	margin-top: 2rem;
	content: "";
	width: 100%;
	height: 0.5px;
	background-color: var(--Dark-grayish-blue);
}
.card__details > *:first-child {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	width: 60%;
	margin-bottom: 0.75rem;
}
.card__rating {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	padding: 0 2.5rem;
}
.card__rating > div {
	text-align: center;
}
.card__details-name,
.card__rating-figure {
	font-family: Kumbh-Sans-Bold;
	color: var(--Very-dark-desaturated-blue);
	font-size: 1.125rem;
}
.card__rating-string {
	color: var(--Dark-gray);
	font-size: 0.625rem;
	letter-spacing: 0.125rem;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 834px) {
	.bg-top {
		transform: translate(-45%, -5%);
	}
	.bg-bottom {
		transform: translate(45%, 5%);
	}
}
@media only screen and (max-width: 600px) {
	.bg-top {
		transform: translate(-45%, -30%);
	}
	.bg-bottom {
		transform: translate(45%, 30%);
	}
}
